

 ul {
padding: 0;
     margin: 0;
     list-style-type:none;
     text-align: center;
     margin-top:50px;

}
 li {
     margin-left: 2px;
     display: inline-block;


 }

 ul li a {
     width: 150px;
     background-color:lightseagreen;
     text-align: center;
     font-size: 50px;
     padding: 20px;
     border: 2px solid black;
     color: white;


 }

 /* unvisited link */
 a:link {
     color: white;
 }

 /* visited link */
 a:visited {
     color: white;
 }

 /* mouse over link */
 a:hover {
     color: black;
 }

 /* selected link */
 a:active {
     color: white;
 }

 table { margin-left:auto;
 margin-right:auto;
     background-color: azure;
     width: 150px;
     text-align: center;
     font-size: 50px;
     padding: 20px;
     border: 2px solid black;
     color: black;
     margin-top: 100px;
 }
